<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273070570620-1o9rc82r2ej6r2vgjth8qvla9r48jp58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273070570620-1o9rc82r2ej6r2vgjth8qvla9r48jp58</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>273070570620-s33dkj0k4e5s9pq925tgshd98kk4teim.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4jUJP_S-XY0cObSPKO-UGuYkF1_oqhgk</string>
	<key>GCM_SENDER_ID</key>
	<string>273070570620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.leavecare</string>
	<key>PROJECT_ID</key>
	<string>leavecare-7a6b4</string>
	<key>STORAGE_BUCKET</key>
	<string>leavecare-7a6b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273070570620:ios:392c600cf8950502109df9</string>
</dict>
</plist>